*
{
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}

body, ul, h2, p
{
    margin:0px;
}

#container
{
    width: 100%;
    font-family: 'Railway', sans-serif;
}

.blue
{
    color:#0065FC;
}

.light_blue
{
    color:#DEEBFF;
}

.grey 
{
    color: rgb(194, 194, 194);
}

.block-grey
{
    background-color: #F2F2F2;
    border-radius: 20px;
}

.red
{
    background-color: rgb(255, 124, 124);
}

.border
{
    border: 1px solid black;
}

.block
{
    height: 100px;
    width: 100%;
}


/* Header */

header
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 55px;
}

#logo
{
    width:auto;
    height:45px;
}

nav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}

nav ul li
{
    padding: 55px 30px 15px 30px;
    border-top: 2px solid white;
}

nav ul li:hover
{
    border-top: 2px solid #0065FC;
}

nav ul li a
{
    text-decoration: none;
    color: black;
}

nav ul li a:hover
{
    color: #0065FC;
}

/* Recherche */

#header
{
    padding: 0 55px;
}

#header #headlines
{
    padding: 30px 0 5px 0;
}

#header #headlines h1
{
    font-size: 17px;
    font-weight: 100;
    line-height: 25px;
}

#header #headlines h1 strong
{
    font-size: 22px;
    font-weight: bold;
}

#header form
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: fit-content;
}

#header form .picto
{
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
}

#header form input, #header form button
{
    font-size: 18px;
    font-weight:normal;
}

#header form button i
{
    display:none;
}

#header form .champs
{
    height: 100%;
    width: 235px;
    padding-left:20px;
    border: none;
}

#header form .champs:focus
{
    outline: none;
}

#header form .champs::placeholder
{
    color: black;
}

#header form .bouton
{
    background-color: #0065FC;
    border : 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    height: 100%;
    padding: 0 15px;
}

#header form .bouton:hover
{
    background-color: #0141a0;
    border : 1px solid #0141a0;
    cursor: pointer;
}

/* Filtres */

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: no-wrap;
    margin-top: 30px;
}

#filtres p
{
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

#filtres ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding:0;
}

#filtres ul li
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    border-radius: 50px;
    border: 2px solid rgb(189, 189, 189);
    padding: 0;
    height: 50px;
    margin: 0 20px 20px 0;
    position: relative;
    cursor: pointer;
}

#filtres ul li:hover
{
    border: 2px solid #e4f0ff;
    background-color: #e4f0ff;
}

#filtres ul li:hover p
{
    color: #0065FC;
}


#filtres ul li .picto
{
    background-color: #e4f0ff;
    border-radius: 50px;
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    position: relative;
    left:-2px;
    font-size: 20px;
}

#filtres ul li p
{
    padding: 0 20px 0 15px ;
}

/* Résultats */

#resultats
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#resultats .picto
{
    border: 1px solid rgb(189, 189, 189);
    border-radius: 50px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    font-size: 12px;
    margin-right: 10px;
}


#resultats p
{
    font-weight: 100;
    margin: 0px;
}

/* hebergements */

#hebergements
{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 55px;
}

#marseille
{
    width: 65%;
    padding: 40px;
}

#populaires
{
    width: 30%;
    padding: 40px;
}

#populaires .titre, #marseille .titre
{
    margin-bottom: 40px;
}

#populaires .titre
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#populaires .titre p
{
    font-size: 20px;
}

#hebergements .grille
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#plus
{
    font-size: 18px;
    font-weight: 700;  
}

#plus a
{
   text-decoration: none;
   color: black; 
}

#plus a:hover
{
   color: #0065FC;
}

.fiche
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 5px;
    padding-bottom: 2px;
    cursor: pointer;
}

.fiche:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.verticale img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.infos
{
    padding: 5px;
}

.infos h3
{
    margin: 0 0 5px 0;
    font-size: 15px;
}

.infos .prix
{
    margin-bottom: 5px;
    font-size: 14px;
}

.infos .etoiles
{
    font-size: 12px;
}

.horizontale
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontale picture
{
    flex: 1;
    margin-right: 10px;
}

.horizontale .infos
{
    flex: 1;
}

.horizontale img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 18px 0 0 18px;
    margin-right: 10px;
}

.horizontale .infos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontale .infos .prix
{
    flex: 1;
}

#hebergements .grille .fiche
{
    width: 30%;
    height: auto;
    margin-bottom: 30px;
}

#hebergements .liste .fiche
{
    width: 100%;
    height: fit-content;
    max-height: 200px;
    margin-bottom: 30px;
}

#hebergements .liste .fiche:last-child
{
    margin-bottom: 0;
}

#activites
{
    margin-top: 30px;
    padding: 0 55px;
}

#activites .titre
{
    margin-bottom: 30px;
}

#activites #portfolio
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#activites #portfolio .colonne
{
    width: 22%;
}

#colonne2, #colonne4
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#colonne2 article, #colonne4 article
{
    flex:1;
}


#colonne2 #article1
{
   flex:2;
   margin-bottom: 30px;
}

#colonne4 #article2
{
    flex:0.7;
    margin-bottom: 30px;
 }

.colonne .fiche
{
    height: 100%;
}

#portfolio
{
    height: 500px;
}

#portfolio .fiche
{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio .fiche picture
{
    flex:1;
}

#portfolio .fiche img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

#portfolio .colonne .fiche img
{
    height: 440px;
}

#portfolio .colonne #article1 img
{
    height: 240px;
}

#portfolio .colonne #article1_2 img
{
    height: 100px;
}

#portfolio .colonne #article2 img
{
    height: 150px;
}

#portfolio .colonne #article2_2 img
{
    height: 190px;
}

#portfolio .infos
{
    display: flex;
    align-items: center;
    margin: 0 20px;
    height: 60px;
}

#portfolio .infos h3
{
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

 /* footer */

 footer
 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    background-color: #f2F2F2;
    padding: 50px 55px;
 }

 footer div
 {
    text-align: left;
    flex: auto;
 }

 footer h4
 {
    font-size: 18px;
 }

 footer ul
 {
    padding: 0;
    line-height: 30px;
 }

 footer ul li
 {
    list-style-type: none;
 }

 footer ul li a
 {
    color: black;
    text-decoration: none;
 }

 footer ul li a:hover
 {
    color: #0065FC;
 }