
#container
{
    padding:0px;
}


.block-grey
{
    border-radius: 0px;
}

/* Header */

header
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
}

#logo
{
    margin-top:20px;
}

nav
{
    width: 100%;
}

ul
{
    width: 100%;
}

nav ul li
{
    width:50%;
    text-align: center;
    padding: 30px 0px 25px 0px;
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
}

nav ul li:hover
{
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

#header
{
    padding: 30px;
}

#header form button i
{
    display:initial;
}

#header form button span
{
    display:none;
}

#hebergements
{
    padding: 0px;
}

#marseille
{
    background-color: white;
}

#marseille .grille
{
    flex-direction: column;
}

#marseille .grille .fiche
{
    width: 100%;
}

#activites
{
    margin: 30px;
    padding: 0px;
}

#activites .titre
{
    margin-bottom: 0px;
}

#activites #portfolio
{
    flex-direction: column;
}

#activites #portfolio .colonne,
#colonne2
{
    width: 100%;
    height:fit-content;
}


#portfolio #colonne2 #article1, #portfolio #colonne4 #article2, #portfolio #colonne2 article, #portfolio #colonne4 article, #portfolio article, #portfolio .colonne article 
{
    height: auto;
    flex: none;
    margin-bottom: 0px;
    margin-top:30px;
}

#portfolio
{
    height: auto;
}


#portfolio .colonne .fiche img, #portfolio .colonne #article1 img, #portfolio .colonne #article2 img, #portfolio .colonne #article1_2 img, #portfolio .colonne #article2_2 img
{
    height: 150px;
}

footer
{
    flex-direction: column;
    padding:30px;
}

footer div
{
   margin-bottom: 30px;
}