
#container
{
    padding:0px;
}

/* Header */

header
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
}

#logo
{
    margin-top:20px;
}

nav
{
    width: 100%;
}

ul
{
    width: 100%;
}

nav ul li
{
    width:50%;
    text-align: center;
    padding: 30px 0px 25px 0px;
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
}

nav ul li:hover
{
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

/* Main  */

main
{
    padding: 0 0px;
}

#header
{
    padding: 0 30px;
}

#header #headlines h1
{
    line-height: 30px;
}

#header form .champs
{
    width: 100%;
}

#header form .bouton
{
    border-radius: 15px;
}

#header form button i
{
    display:inline;
}

#header form button span
{
    display:none;
}

#resultats
{
    align-items: flex-start;
}

#resultats p
{
    font-size: 16px;
    margin-top: 2px;
}

#hebergements
{
    flex-direction: column-reverse;
}

#herbegements_populaires
{
    flex:1;
}

#hebergements_ville
{
    flex:1;
    margin: 0;
    background-color: white;
}

.grey-block
{
    border-radius: 0px;
}

#grille
{
    height : fit-content;
}

#grille .vignette picture img
{
    width: 100%;
    height: 100px;
}

.vignette
{
    width: 100%;
}

#hebergements_ville #plus
{
    margin-top: 0px;
}