#filtres
{
    flex-wrap: wrap;
}

#filtres ul
{
    padding-left: 0;
    margin-top: 20px;
}

#resultats
{
    margin-top:0px;
}

#hebergements
{
    flex-direction: column-reverse;
}

#marseille, #populaires
{
    width: 100%;
}

#populaires
{
    margin-bottom: 30px;
}